<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        SL = {};
        SL.questionApiUrl = '@Url.Content("~/api/Question")';
    </script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBIdcGud1iJTvo7V4GxwPVP-fh_7cD9slQ&sensor=false"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Scripts/extensionFunctions.js"></script>
    <script type="text/javascript" src="~/Scripts/GoogleMaps.js"></script>
    <script type="text/javascript" src="~/Scripts/App.js"></script>
    <script type="text/javascript" src="~/Scripts/UI.js"></script>
    <link rel="stylesheet" href="~/Content/App.css">
    <link href='http://fonts.googleapis.com/css?family=Milonga' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="header">
        <h1>~ Sydney Lexicographer ~</h1>
    </div>

    <div id="question">
        <div class="question-header">
            <div class="question-header-question">Question <span id="question-number">0</span></div>
            <div class="question-header-score">Score: <span id="score">0</span> / <span id="score-out-of">0</span></div>
        </div>

        <div class="photo-info">
            <div id="name"></div>
            <div id="description"></div>
        </div>

        <div class="question-photo">
            <img id="photo" src="http://dictionaryofsydney.org/files/wide/b16fbbf6b053225659d148b51ec14b12b93ba88e">
        </div>

        <div class="question-map">
            <div class="question-section-header">Where is this?</div>

            <div class="question-map-content">
                <div id="map-canvas"></div>
            </div>
        </div>

        <div class="question-timeline">
            <div class="question-section-header">When was this?</div>

            <div class="question-timeline-content">
                <div id="yearSlider"></div>
                <span>Your Answer: <input type="text" id="date" /></span>
                <span id="correct-answer-container">Correct Answer: <span id="correct-answer"></span></span>
                <div id="timeline-score"></div>
            </div>
        </div>

        <div class="question-footer">
            <button id="submitButton">Answer</button>
            <button id="nextQuestionButton">Next Question</button>
        </div>
    </div>

    <div id="results"></div>
</body>
</html>
