<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/App.js"></script>
    <style type="text/css">
        body {
        }

        #photo {
            height: 20%;
        }

        #description {
            height: 20%;
        }

        #map-canvas {
            position: absolute;
            height: 60%;
            width: 80%;
        }
    </style>
</head>
<body>
    <div id="header">
        <h1>Sydney Lexicographer</h1>
    </div>
    
    <div>Score:<span id="score">0</span></div>
    <img id="photo">
    <div id="name"></div>
    <div id="description"></div>
    <div id="map-canvas"></div>
    
    <button id="submitButton">Submit</button>
    <button id="nextQuestionButton">Next Question</button>
    <script>
        var gMaps = {
            answerLatitude: '',
            answerLongitude: ''
        }

        $.ajax({
            url: '@Url.Content("~/api/Question")',
            accepts: 'application/json'
        }).done(function (question) {
            $('#photo').attr('src', question.PhotoUrl);
            $('#name').text(question.Name);
            $('#description').text(question.Description);

            gMaps.answerLatitude = question.Latitude;
            gMaps.answerLongitude = question.Longitude;
        });
    </script>

    <script>
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(-33.869, 151.2082),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);

            var latLongLocation = new google.maps.LatLng(gMaps.answerLatitude,
                gMaps.answerLongitude, 
                true);

            var marker = new google.maps.Marker({
                position: latLongLocation,
                map: map,
                title: 'CORRECT WOOT'
            });

            var correctLocationContent = '<div id="content">' +
                '<h2>This is the correct location</h2>' +
                '<p>Add info about the place here</p>';

            var correctLocationWindow = new google.maps.InfoWindow({
                content: correctLocationContent
            });

            marker.setVisible(false);

            google.maps.event.addListener(map, 'click', function (event) {
                locationSelected(event.latLng, map, marker, correctLocationWindow);
            });
        }

        function locationSelected(location, map, correctPosition, infoWindow) {
            var marker = new google.maps.Marker({
                position: location,
                map: map,
                title: 'Your Guess'
            });

            correctPosition.setVisible(true);
            infoWindow.open(map, correctPosition);

            map.setMapTypeId(google.maps.MapTypeId.SATELLITE);
            map.setZoom(18);
            map.setCenter(location);
        }

        function loadScript() {
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyBIdcGud1iJTvo7V4GxwPVP-fh_7cD9slQ&sensor=false&callback=initialize";
            document.body.appendChild(script);
        }

        window.onload = loadScript;
    </script>
</body>
</html>
