<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js"></script>
</head>
<body>
    <div id="header">
        <h1>Sydney Lexicographer</h1>
    </div>

    <img id="photo">
    <div id="name"></div>
    <div id="description"></div>
    
    <script>
        $.ajax({
            url: '@Url.Content("~/api/Question")',
            accepts: 'application/json'
        }).done(function (question) {
            $('#photo').attr('src', question.PhotoUrl);
            $('#name').text(question.Name);
            $('#description').text(question.Description);
        });
    </script>
</body>
</html>
