html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('http://home.dictionaryofsydney.org/_images/bg-body.gif');
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* === header === */

#header {
    color: #800;
    padding: 0;
    margin: 7px 0 7px 0;
    height: 40px;
    line-height: 40px;
}

h1 {
    font-size: 1.8em;
    font-family: Milonga, serif;
    padding: 0;
    margin: 0 0 0 20px;
    text-align: center;
}

/* === question === */

.question-header {
    height: 44px;
    border-top: solid 1px #666;
    border-bottom: solid 1px #666;
    background-color: #fff;
}

.question-header-question {
    float: left;
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
    margin: 0;
    padding: 0;
}
.question-header-score {
    float: right;
    width: 49%;
    line-height: 45px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

.question-photo {
    position: absolute;
    top: 100px;
    bottom: 100px;
    left: 10px;
    text-align: center;
    width: 47%;
}

#photo {
    max-height: 100%;
    max-width: 100%;
}

.question-map {
    position: absolute;
    width: 50%;
    top: 110px;
    bottom: 200px;
    right: 10px;
    border: solid 1px #666;
}

.question-section-header {
    margin: 0;
    height: 25px;
    background-color: #800;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    padding: 2px 0 2px 0;
}

.question-map-content {
    position: absolute;
    top: 29px;
    bottom: 0;
    width: 100%;
}

#map-canvas {
    width: 100%;
    height: 100%;
}

.question-timeline {
    position: absolute;
    width: 50%;
    height: 80px;
    bottom: 110px;
    right: 10px;
    border: solid 1px #666;
    background-color: white;
}

.question-timeline-content {
    padding: 10px 20px;
    text-align: center;
}

.question-footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center
}

#submitButton, #nextQuestionButton {
    font-size: 20px;
    padding: 7px;
    margin-top: 20px;
}

#date {
    border: 0; 
    font-weight: bold; 
    font-family:veranda;
    font-size:20px;
    background: transparent;
    width: 40px;
}

#correct-answer-container {
    display: none;
}
#correct-answer {
    font-weight: bold;
}

.correct .question-section-header
{
    background-color: #39d645
}

/* === answer === */

#answer {
    position: absolute;
    top: 0;
    height: 107px;
    width: 100%;
}

.answer-container {
    width: 95%;
    height: 106px;
    background-color: white;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid 1px black;
    border-top: none;
    box-shadow: 3px 3px 2px #888888;
}

#name {
    font-weight: bold;
    text-align: center;
    padding-top: 4px;
    height: 18px;
}

#description {
    text-align: center;
    font-size: 0.9em;
    overflow-y: scroll;
    height: 75px;
    margin: 5px 10px;
}

/* === results === */

#results {
    display: none;
}

#mapError {
    display: none;
}
